



<!-- JS Scripts -->

<script>
	document.addEventListener("DOMContentLoaded", function() {
		var webpMachine = new webpHero.WebpMachine()
		webpMachine.polyfillDocument()
	});
</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>


<script src="js/libs/jquery.mousewheel.min.js"></script>

<script src="js/libs/perfect-scrollbar.min.js"></script>

<script src="js/libs/imagesloaded.pkgd.min.js"></script>

<script src="js/libs/material.min.js"></script>
<script src="js/libs/selectize.min.js"></script>



<script src="js/libs/swiper.jquery.min.js"></script>
<script src="js/libs/isotope.pkgd.min.js"></script>



<script src="js/libs/ajax-pagination.min.js"></script>
<script src="js/libs/jquery.magnific-popup.min.js"></script>



<script src="js/libs-init/libs-init.js"></script>


<script src="Bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<!-- SVG icons loader -->
<script src="js/svg-loader.js"></script>
<!-- /SVG icons loader -->

</body>

</html>